<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LANStuffs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LANStuffs.Properties.Settings>
            <setting name="SkinFile" serializeAs="String">
                <value>Choco.xml</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordHint" serializeAs="String">
                <value />
            </setting>
        </LANStuffs.Properties.Settings>
    </userSettings>
</configuration>